**/*.mod
**/*.o
bin/tdci
errors_*
output_*
compile.job
*/__pycache__
**/TDCI.dat
**/*.swp
**/*.swo
.vscode/
test/tests/h2o_circular
test/tests/h2o_circular_soc/
test/tests/h2o_static/
test/tests/h2o_static_soc/
backup_makefile
make_input
.gitignore
